.home {
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
  padding: 2rem;
}

.home-section {
  margin-bottom: 3rem;

  .section-title {
    font-size: 1.5rem;
    color: #ff3b3b;
    margin-bottom: 1rem;
  }
}
